.info-cards-flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

.info-card-wrapper-patients{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 77px;
}
  
  @media (max-width: 768px) {
    .info-cards-flex {
      flex-direction: column;
      gap: 10px;
    }
    .info-card-wrapper {
      max-width: 100%;
      min-width: 100%;
      flex: 1 1 100%;
    }
  }